<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Sphero Controller</title>
    <link rel='stylesheet' type='text/css' href='stylesheets/styles.css'>
  </head>

  <body>
    <section id="left">
      <div id="editor">
      </div>
      <div id='buttons' class='group'>
        <button name='submit' id='submit'/>Ejecutar</button>
        <button name='calibrate' id='calibrate'/>Calibrar</button>
      </div>
      <div id='log'>
        <p>Moving.....</p>
      </div>
    </section>
    <section id='right'>
      <h2>Commands</h2>
      <ul>
        <li>
          <p class='command'>move &ltdirection&gt [, &ltspeed&gt]</p>
          <p class='description'>Moves the sphero in the specified direction</p>
          <p>direction = FORWARD | BACKWARD | LEFT | RIGHT</p>
          <small>You can use degrees instead of direction constants</small>
          <small>0 - FORWARD, 180-BACKWARD, 90-RIGHT, 270-LEFT (negative degrees work too ;-))</small>
          <p>speed = 0-255 (default 30)</p>
        </li>
        <li>
          <p class='command'>calibrate [&ltseconds&gt]</p>
          <p class='description'>Let's you calibrate the sphero. That is, where it points to.</p>
          <p>seconds = time in seconds of the calibration period. Default 10 seconds.</p>
        </li>
        <li>
          <p class='command'>set_default_time &ltseconds&gt</p>
          <p class='description'>Sets time gap between direction changes. Default: 3 seconds</p>
        </li>
        <li>
          <p class='command'>set_default_speed &ltspeed&gt</p>
          <p class='description'>Sets the rolling speed. Default: 30</p>
        </li>
        <li>
          <p class='command'>set_color &ltcolor&gt</p>
          <p class='description'>Sets the color of the sphero</p>
        </li>
        <li>
          <p class='command'>set_rotation_rate &ltrate&gt</p>
          <p class='description'>Sets the rotation rate of the sphero. This is how fast it changes directions.</p>
          <p>rate = 0-255</p>
        </li>
      </ul>
    </section>

    <script type='text/javascript' src='/javascript/jquery.js' charset='utf-8'></script>
    <script type='text/javascript' src='/javascript/ace.js' charset='utf-8'></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/github");
        editor.getSession().setMode("ace/mode/ruby");
        editor.getSession().setTabSize(2);
        editor.getSession().setUseSoftTabs(true);
        editor.focus();
    </script>
    <script>
      $('button#submit').click(function(){
        var code = editor.getSession().getValue();
        $.post('/run', { code: code }, function(data){
          editor.focus();
        });
      });
      $('button#calibrate').click(function(){
        $.post('/run', { code: 'calibrate' });
      });
    </script>
  </body>
</html>

